<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: resources"></div>
</head>
<body>
<div class="form-group">
    <label for="bookNumber" class="col-sm-2 control-label">BookNumber :</label>
    <div class="col-sm-2">
        <input type="text" class="form-control"
               id="bookNumber" name="bookNumber"/>
    </div>
    <label for="bookType" class="col-sm-2 control-label">BookType :</label>
    <div class="col-sm-2">
        <div class="btn-group">
            <input id="bookType" type="button" class="btn btn-default" value="bookType">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a href="#">外语</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">建筑</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">教育</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">文学</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">法律</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">环境</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">生化</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">经管</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">艺术</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">计算机</a>
                    <ul class="dropdown-menu">
                        <li class="text-center clearfix">
                            <a>
                                文学理论
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">其它</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>